@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

:root {
    --white-color: #fff;
    --grey-color: #E5E5E5;
    --back-color: #222222;
    --primary-color: #000;
    --secondary-color: #D01418;
    --third-color: #619D00;
    --decoration-color: #c79800;
    --instagram-color: #CE0CFF;
    --facebook-color: #1476D0;
    --twitter-color: #14AED0;
}

header,
footer {
    background: var(--back-color);
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}

header img {
    height: 40px;
    width: 40px;
}

.title_white {
    padding-left: 22px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 25px;
}

.title_red {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 25px;
}

nav {
    padding-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    color: var(--white-color);
    font-weight: bold;
}

nav ul li {
    padding-left: 10px;
    list-style-type: none;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

a:visited {
    color: var(--white-color);
}

nav ul li a.car {
    padding-left: 50px;
    color: var(--secondary-color);
    font-size: 24px;
}

.fa-bars {
    color: var(--white-color);
    font-size: 24px;
}


/* banner*/

.banner {
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: var(--white-color);
    padding-bottom: 30px;
}

.banner h1 span {
    color: var(--secondary-color);
}

button {
    background: var(--secondary-color);
    width: 220px;
    height: 61px;
    color: var(--white-color);
    font-size: 25px;
    border-radius: 10px;
    border: 0px;
}


/* contenido*/

.content {
    background: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


/* productos destacados*/

.pdestacados {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

.pdestacados section {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pdestacados section article {
    background: var(--white-color);
    width: 265px;
    height: 322px;
    margin: 20px;
    border-radius: 5px;
}

.contenido {
    height: 70%;
    border-bottom: 2px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido img {
    width: 45%;
}

.detalle_precio {
    padding-left: 10px;
    padding-top: 21px;
}

.detalle_precio .cant {
    font-size: 13px;
}

.detalle_precio .send {
    font-size: 10px;
    color: var(--third-color);
}


/* Productos estrella */

.pestrella {
    width: 100%;
    padding-bottom: 84px;
    padding-top: 84px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pestrella div {
    width: 361px;
    height: 135px;
    background-color: red;
    border-radius: 5px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}

.pestrella div h2 {
    padding-right: 14px;
}

.sillas {
    background-image: url(../img/banner_silla.png);
    background-size: cover;
}

.pcs {
    background-image: url(../img/banner_pc.png);
    background-size: cover;
}


/* footer*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 216px;
    padding-right: 75px;
    padding-left: 75px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social {
    color: var(--white-color);
}

.logos-redes {
    padding-top: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-twitter {
    color: var(--twitter-color);
}

.fa-facebook-f {
    color: var(--facebook-color);
}

.fa-instagram {
    color: var(--instagram-color)
}


/* adaptativo */

@media (max-width:620px) {
    main {
        min-width: 360px;
    }
    .fa-bars {
        font-size: 20px;
        color: #fff;
        display: block;
        padding-right: 10px;
    }
    .menu nav {
        display: none;
    }
    .pdestacados {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .pestrella {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .banner {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
    }
    .menu {
        display: none;
    }
}

@media (max-width:480px) {
    main {
        min-width: 360px;
    }
    .fa-bars {
        font-size: 20px;
        color: #fff;
        display: block;
        padding-right: 10px;
    }
    .menu nav {
        display: none;
    }
    .pdestacados {
        flex-direction: column;
    }
    .banner {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
    }
    .menu {
        display: none;
    }
}

@media (min-width:620px) {
    .fa-bars {
        display: none;
        color: var(--white-color);
    }
}