@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: #282828;
    margin: 0px;
    box-sizing: border-box;
}


/* header*/

header {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
}

.logo {
    width: 50%;
}

.menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.menu li {
    color: #F3F3F3;
    padding-left: 6px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E5E5E5;
    padding: 35px 10px;
}


/* content*/

.content {
    position: absolute;
    background-color: #E5E5E5;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
}

.content-left {
    align-self: center;
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 350px;
    border-radius: 5px;
    margin: 5px;
}

.content-left img {
    padding-top: 23px;
    padding-left: 20px;
}

.content-rigth {
    background-color: #fff;
    width: 490px;
    height: 350px;
    border-radius: 5px;
    margin: 5px;
}

.content-rigth-title {
    width: 100%;
    padding-top: 26px;
    text-align: center;
}

.content-left-sections {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pizza-top {
    position: relative;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pizza-top li {
    font-weight: bold;
    padding-bottom: 10px;
}

.pizza-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 49%;
}

.pizza-img img {
    width: 92px;
    height: 129px;
}


/* footer*/

footer {
    width: 100%;
    background-color: #282828;
    bottom: 0px;
    height: 150px;
    display: flex;
}

.menu-footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-footer ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.menu-footer li {
    padding-bottom: 10px;
    color: #F3F3F3;
}

.logo-footer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo-footer-content {
    padding-top: 35px;
    padding-right: 42px;
    padding-bottom: 35px;
}