@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&display=swap');
* {
    margin: 0px;
    font-family: Roboto;
}


/* header*/

.descuentos {
    background-color: #1CD1B0;
    padding-left: 10px;
    font-size: 13px;
}

.titulo {
    position: relative;
    font-size: 25px;
    background-color: #00669F;
    padding: 15px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: flex;
    align-items: center;
}

.titulo img {
    width: 60px;
}


/* contenido*/

@media (min-width:320px) and (max-width:480px) {
    .card {
        display: inline-block;
        font-family: Roboto;
        border-radius: 10px;
        background-color: transparent;
        height: 532px;
        width: 300px;
        margin: 30px;
    }
    footer .derechos {
        text-align: center;
        width: 100vw;
    }
    footer .github {
        text-align: center;
        width: 100vw;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .contenido {
        min-width: 480px;
    }
    .card {
        display: inline-block;
        font-family: Roboto;
        border-radius: 10px;
        background-color: transparent;
        height: 532px;
        width: 300px;
        margin: 30px;
    }
    footer .derechos {
        font-size: 12px;
        text-align: center;
        width: 100vw;
    }
    footer .github {
        text-align: center;
        width: 100vw;
    }
    .add {
        padding-left: 70vw;
    }
}

@media (min-width:769px) {
    .card {
        display: inline-block;
        font-family: Roboto;
        border-radius: 10px;
        background-color: transparent;
        height: 532px;
        width: 300px;
        margin: 30px;
    }
    .add {
        padding-left: 80vw;
    }
    .titulo-form {
        padding-left: 80px;
        font-family: Inter;
    }
}

.contenido {
    background-image: url(../img/bg\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: inline-block;
    font-family: Roboto;
    border-radius: 10px;
    background-color: transparent;
    height: 532px;
    width: 450px;
    margin: 30px;
}

.card-encabezado {
    background-color: transparent;
    position: relative;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

.batman {
    background-image: url(../img/batmanTop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.harly {
    background-image: url(../img/harleyTop.png);
    background-size: cover;
}

.superman {
    background-image: url(../img/supertmanTop.png);
    background-size: cover;
}

.mmaravilla {
    background-image: url(../img/mmaravillaTop.png);
    background-size: cover;
}

.corazon {
    position: absolute;
    padding-top: 30px;
    padding-left: 20px;
    width: 33px;
    height: 29px;
}

.foto {
    position: relative;
    background-color: transparent;
    top: 78px;
    height: 80px;
    padding-bottom: 20px;
    text-align: center;
}

img.circular {
    border-radius: 50%;
    border: 1px black;
    width: 120;
    height: 120px;
}

.card-contenido {
    background-color: #F3F3F3;
    height: 336px;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-contenido .datos {
    text-align: center;
    height: 275px;
}

.card-contenido .datos .imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-contenido .datos .imagenes img {
    width: 10%;
    padding-left: 10px;
}

.card-contenido .card-footer {
    background-color: #2C0187;
    height: 70px;
    border-radius: 0px 0px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-contenido .card-footer a {
    color: #fff;
    text-decoration: none;
}

.nombre {
    color: #2C0187;
    text-decoration: underline;
    top: 597px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    padding-top: 74px;
}

.descripcion {
    padding: 10px 17px 10px 17px;
    font-size: 12px;
    text-align: left;
}

.card-boton {
    border-radius: 3px;
    background-color: #00669F;
    border: 0px;
    color: #F3F3F3;
    padding: 15px 37px 15px 37px;
}


/* footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0px;
    padding: 16px;
    background-color: #00669F;
    color: #F3F3F3;
    flex-wrap: wrap;
}


/*botones*/

button {
    font-family: Karla;
    font-weight: 500;
    background-color: #1CD1B0;
    border-radius: 20px;
    border: 0px;
    width: 450px;
    height: 39px;
    font-weight: bold;
    margin: 30px;
}

button[type=reset] {
    background-color: #888888;
    color: #fff;
}

button[type=submit] {
    background-color: #1CD1B0;
}