@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&family=Roboto:ital,wght@0,100;1,300&display=swap');
* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #3e3e3e;
    height: 100%;
    padding-left: 30px;
    padding-top: 130px;
    color: #f3f3f2;
}

main {
    position: absolute;
    padding-top: 10px;
    left: 30px;
    right: 30px;
}

.foto {
    position: relative;
    background-color: transparent;
    top: -120px;
    height: 80px;
    padding-bottom: 20px;
    text-align: center;
}

.nombre-cv {
    text-align: center;
    color: #3e3e3e;
    padding-bottom: 20px;
}

img.circular {
    border-radius: 50%;
    border: 1px black dashed;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 200px;
}

.descripcion {
    text-align: justify;
}

footer {
    position: absolute;
    bottom: 0px;
    color: #3e3e3e;
}